.produktGrid {
    width: 100vw;
    padding-top: 3em;
    padding-bottom: 5em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: .3em;
}

.previewGrid {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

.preview, .preview2, .preview3 {
    width: 100%;
    margin-bottom: 1em;
    box-shadow: 2px 2px 5px 0px rgba(135,135,135,0.43);
    cursor: pointer;
}

.mainProduktContainer {
    grid-column: 3 / 7;
    box-shadow: 2px 2px 5px 0px rgba(135,135,135,0.43);
    height: 70vh;
    justify-self: center;
}


.mainProdukt {
    height: 100%;
    padding: 1em;
}

.produktDetaljer {
    grid-column: 8 / 11;
    display: flex;
    flex-direction: column;
}

.produktOverskrift {
    font-size: 3rem;
    font-family: 'Limelight', cursive;;
}

.produktPris {
    font-size: 2rem;
    margin-bottom: 1.5em;
}

.sizeBtn, .handlekurvHovedBtn {
    border: none;
    background-color: #809E9B;
    width: 15em;
    padding: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.1rem;
    cursor: pointer;
}